* {
    margin: 0;
    padding: 0;
}
:root {
    --dark-gray: hsl(0, 0%, 63%);
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%); /* Graphic design text */ 
    --Dark-blue: hsl(198, 62%, 26%); /* Photography text */
    --Dark-moderate-cyan: hsl(167, 43%, 64%); /* Footer */
    --Dark-moderate-cyan-adjusted: hsl(167, 35%, 34%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

/* NAVIGATIONS & IT'S BACKGROUND IMAGE */
.bgandnav { 
    background-image: url("desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 750px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menuIcon {
    display: none;
}
#mobileNav {
    display: none;
}
.logo {
    margin: 20px;
    height: 20px;
}
.nav ul {
    display: flex;
    align-items: center;
    margin: 20px;
}
.nav li {
    list-style: none;
}
.nav a {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: var(--White);
    margin: 20px;
}
.nav button {
    background-color: white;
    font-family: 'Fraunces', serif;
    color: black;
    border: none;
    width: 120px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
}
.nav button:hover {
    text-align: center;
    background-color: #6fcfff;
    color: white;
}

/* HERO SECTION */
.handa {
    text-align: center;
    padding-top: 7%;
    font-size: 20px;
}
h1 {
    color: var(--White);
    font-family: 'Fraunces', serif;
    font-weight: 600;
    letter-spacing: 10px;
}
.arrowdown {
    padding-top: 90px;
}

/* BODY ROWS SECTION */
h2 {
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 40px;
    font-weight: 700px;
    font-size: 30px;
    font-family: 'Fraunces', serif;
    width: 40%;
}
.row1 p {
    margin-bottom: 35px;
    width: 68%;
    color: var(--Very-dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
}   
.row2 p {
    margin-bottom: 35px;
    width: 70%;
    color: var(--Very-dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
} 
.learnmore {
    color: black;
    margin-left: 10px;
    font-family: 'Fraunces', serif;
    font-size: large;
    text-decoration: none;
}

/* FIRST ROW */
.row1 {
    margin-left: 20%;
    margin-top: 20%;
}
.firstrow {
    display: flex;
}
.firstwriteup {
    background-color: var(--White);
    width: 50%;
    height: 550px;
}
.firstimg {
    background-image: url("desktop/image-transform.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 550px;
}

/* SECOND ROW */
.secondrow {
    display: flex;
}
.secondwriteup {
    background-color: var(--White);
    width: 48%;
    height: 550px;
}
.row2 {
    margin-left: 20%;
    margin-top: 20%;
}
.row2 h2 {
    width: 60%;
}
.secondimg {
    background-image: url("desktop/image-stand-out.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 550px;
}

/* THIRD ROW */
.thirdrow {
    display: flex;
    text-align: center;
    width: 100%;
}
.row3fimg {
    background-image: url("desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row3simg {
    background-image: url("desktop/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row3fimg h3 {
    color: var(--Dark-desaturated-cyan);
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Fraunces', serif;
    margin-top: 350px;
    position: relative;
    text-align: center;
}
.row3fimg p {
    width: 320px;
    color: var(--Dark-moderate-cyan-adjusted);
    font-size: 15px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}
.row3simg h3 {
    color: var(--Dark-desaturated-cyan);
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Fraunces', serif;
    margin-top: 350px;
    position: relative;
    text-align: center;
}
.row3simg p {
    width: 320px;
    color: var(--Dark-moderate-cyan-adjusted);
    font-size: 15px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

/* BODY CLIENT TESTIMONIALS SECTION */
.clts {
    margin-bottom: 90px;
}
.clts h4 {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 70px;
    letter-spacing: 5px;
    color: var(--dark-gray);
}
.clts p {
    width: 70%;
    margin: 0 15%;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    padding-bottom: 30px;
}
.clts h5 {
    margin-bottom: 10px;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.t {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.t img {
    border-radius: 90px;
    width: 30px;
    margin-bottom: 30px;
}
.cltsa {
    text-align: center;
}
.clts span {
    color: var(--dark-gray);
}


/* IMAGES DISPLAY SECTION */
.disect {
    display: flex;
}
.disect1 {
    background-image: url("desktop/image-gallery-milkbottles.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25%;
    height: 350px;
}
.disect2 {
    background-image: url("desktop/image-gallery-orange.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25%;
    height: 350px;
}
.disect3 {
    background-image: url("desktop/image-gallery-cone.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25%;
    height: 350px;
}
.disect4 {
    background-image: url("desktop/image-gallery-sugarcubes.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25%;
    height: 350px;
}

/* FOOTER */
footer {
    background-color: var(--Dark-moderate-cyan);
    width: 100%;
    height: 250px;
    text-align: center
}
.ftlogo {
    margin-top: 30px;
    margin-bottom: 10px;
}
footer ul {
    display: flex;
    justify-content: center;
}
footer a {
    font-family: 'Barlow', sans-serif;
    margin-bottom: 40px;
    text-decoration: none;
    color: var(--White);
    margin: 20px;
}
.icons {
    margin-top: 60px;
    margin-left: 15px;
    width: 15px;
}
.sicons a {
    margin: 0px;
}
#prof {
    margin-top: 20px;
}
#prof a {
    margin-left: 0px;
}
li {
    list-style: none;
}


/* RESPONSIVE DESIGN */
@media only screen and (max-width: 660px) {

    /* NAVIGATIONS & IT'S BACKGROUND IMAGE */
.bgandnav {
    background-image: url("mobile/image-header.jpg");
    height: 650px;
}
.nav ul {
    display: none;
}
#menuIcon {
    display: block;
    padding-right: 25px;
}
#mobileNav {
    display: none;
    background-color: white;
    position: absolute;
    width: 90%;
    top: 10%;
    margin: 0 5%;
    height: 280px;
    border-radius: 8px;
}
#mobileNav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}
#mobileNav li {
    list-style: none;
    padding-bottom: 30px;
}
#mobileNav a {
    text-decoration: none;
    color: black;
    font-family: 'Barlow', sans-serif;
}
#mobileNav button {
    background-color: var(--Yellow);
    font-family: 'Fraunces', serif;
    color: black;
    border: none;
    width: 120px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
}


/* HERO SECTION */
.handa {
    text-align: center;
    padding-top: 16%;
    font-size: 20px;
}
.arrowdown {
    padding-top: 120px;
}

/* BODY ROWS SECTION */
h2 {
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 30px;
    font-weight: 700px;
    font-size: 30px;
    font-family: 'Fraunces', serif;
    width: 100%;
} 
.learnmore {
    color: black;
    margin-left: 0;
    font-family: 'Fraunces', serif;
    font-size: large;
    text-decoration: none;
}

/* FIRST ROW */
.firstrow {
    flex-direction: column-reverse;
}
.row1 {
    text-align: center;
    margin: 25% 10%;
}
.row1 p {
    margin-bottom: 30px;
    width: 100%;
}
.firstwriteup {
    background-color: var(--White);
    width: 100%;
    height: 450px;
}
.firstimg {
    background-image: url("mobile/image-transform.jpg");
    width: 100%;
    height: 450px;
}

/* SECOND ROW */
.secondrow {
    flex-direction: column;
}
.secondwriteup {
    background-color: var(--White);
    width: 100%;
    height: 450px;
}
.secondwriteup h2 {
    width: 100%;
}
.row2 {
    margin: 25% 10%;
    text-align: center;
}
.row2 p {
    margin-bottom: 30px;
    width: 100%;
    color: var(--Very-dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
} 
.secondimg {
    background-image: url("mobile/image-stand-out.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 450px;
}

/* THIRD ROW */
.thirdrow {
    display: flex;
    flex-direction: column;
}
.row3fimg {
    background-image: url("mobile/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row3simg {
    background-image: url("mobile/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row3fimg p {
    width: 90%;
}
.row3simg p {
    width: 90%;
}


/* BODY CLIENT TESTIMONIALS SECTION */
.t {
    flex-direction: column;
    align-items: center;
}
.t img {
    width: 50px;
}
.cltsa {
    text-align: center;
    margin-bottom: 50px;
}


/* IMAGES DISPLAY SECTION */
.disect {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-auto-rows: 50%;
}
.disect1 {
    background-image: url("mobile/image-gallery-milkbottles.jpg");
    width: 100%;
    height: 250px;
}
.disect2 {
    background-image: url("mobile/image-gallery-orange.jpg");
    width: 100%;
    height: 250px;
}
.disect3 {
    background-image: url("mobile/image-gallery-cone.jpg");
    width: 100%;
    height: 250px;
}
.disect4 {
    background-image: url("mobile/image-gallery-sugar-cubes.jpg");
    width: 100%;
    height: 250px;
}
}
